<launch>
    <!-- 设置 use_sim_time 参数 -->
    <arg name="use_sim_time" default="true" />

    <!-- 启动 slam_gmapping 节点 -->
    <node pkg="slam_gmapping" exec="slam_gmapping" output="screen">
        <param name="use_sim_time" value="$(var use_sim_time)" />
    </node>

    <!-- 启动 pointcloud_to_laserscan launch -->
    <include file="$(find-pkg-share pointcloud_to_laserscan)/launch/sample_pointcloud_to_laserscan_launch.py">
        <arg name="use_sim_time" value="$(var use_sim_time)" />
        
    </include>

    <!-- 启动 rosbag2 play 节点 -->
    <arg name="bag_file" default="/home/kongjp-wsl/r25hw_kongjp2024/HW3/figure8_sensor" description="Path to the rosbag2 figure8_sensor"/>
    <executable cmd="ros2 bag play $(var bag_file) --clock-topics-all" output="screen"/>

    <!-- 启动 rosbag2 play 节点 -->
    <!-- <arg name="bag_file" default="/home/kongjp-wsl/r25hw_kongjp2024/HW3/figure8_tracking" description="Path to the rosbag2 figure8_tracking"/>
    <executable cmd="ros2 bag play $(var bag_file) clock-topics-all" output="screen"/> -->


</launch>